body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 30px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 17px;
}

nav a:hover {
  color: #ccc;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#listTable {
  width: 100%;
  /* border-collapse: collapse; */
}

#listTable th, #listTable td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

#listTable th {
  background-color: #f0f0f0;
}

#sortBtn {
  background-color: blue;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 17px;
}

#sortBtn:hover {
  background-color: #3e8e41;
}
